#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.favouriteButtonContainer button {
margin: 1rem;
}

.itemList  {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.faveButton {
  background-color: lightblue;
}

.removeButton {
  background-color:lightcoral;
}